* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Nav {
    background-color: rgb(235, 255, 59);
    color: rgb(46, 46, 46);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .75px;
    display: flex;
    flex-direction: row;
}

.SectionTitle, .SectionUl {
    min-width: 50vw;
    padding: .5rem .5rem .5rem;
}

.SectionUl {
    text-align: right;
    align-self: center;
    padding-right: 2rem;
}

.Theme {
    list-style-type: none;
}